/* estilos.css */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
}

/* Ajuste navbar */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link:hover {
    color: #0d6efd !important;
}

/* Cards */
.card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

footer {
    font-size: 14px;
}
